config ZMK_BLE
	default y

config ZMK_USB
	default y

if SHIELD_SLICEMK_ERGODOX_DONGLE

config ZMK_KEYBOARD_NAME
	default "SliceMK ErgoDox"

endif

if SHIELD_SLICEMK_ERGODOX_LEFTCENTRAL || SHIELD_SLICEMK_ERGODOX_LEFTSINGLE

config ZMK_KEYBOARD_NAME
	default "ErgoDox Left"

endif

if SHIELD_SLICEMK_ERGODOX_RIGHTCENTRAL || SHIELD_SLICEMK_ERGODOX_RIGHTSINGLE

config ZMK_KEYBOARD_NAME
	default "ErgoDox Right"

endif

if SHIELD_SLICEMK_ERGODOX_DONGLE || SHIELD_SLICEMK_ERGODOX_LEFTCENTRAL || SHIELD_SLICEMK_ERGODOX_RIGHTCENTRAL

config ZMK_SPLIT
	default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if !SHIELD_SLICEMK_ERGODOX_DONGLE

config ZMK_BATTERY_VOLTAGE_DIVIDER
	default y

endif
